@using SchemaEditor.Helpers;
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Editor</title>
    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet'  type='text/css'>
    <link href="@Url.Content("~/Content/Editor.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/Popup.css")" rel="stylesheet" type="text/css">
    
    @if (Html.IsDebugBuild())
    {
    
    <script data-main="@Url.Content("~/Scripts/Editor/main.js")" src="@Url.Content("~/Scripts/Lib/require/require.js")"></script>

    } 
</head>
<body>
    
    <header>
   
    </header>
    <section id="content">
    <div id="blueprint_view">No blueprint</div>
    </section>
    <footer>
    
    </footer>

</body>
    @if (Html.IsReleaseBuild())
    {
    <!-- production libs block -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Production/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Production/underscore-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/json2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Production/backbone-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Production/raphael-min.js")"></script>
    <!-- production libs block end -->
    }
</html>
