@using SchemaEditor.Helpers;
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Editor</title>
    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet'  type='text/css'>
    <link href="@Url.Content("~/Content/Editor.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/PopUpForm.css")" rel="stylesheet" type="text/css">
    
    @if (Html.IsDebugBuild()) {
    <!-- development libs block-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Development/underscore.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/json2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Development/backbone.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Development/jquery-1.7.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Development/raphael.js")"></script>
    <!-- development libs block end -->
    } 
</head>
<body>
    
    <header>
    <ul id="tools" class="actions_block">
        <li class="action">
            <input id="pack_rect" type="radio" name="tool">
            <label class="action_label" for="pack_rect">Draw:<br/>Rectangle<br/>Package</label>
        </li>
        <li class="action">
            <input id="pack_circle" type="radio" name="tool">
            <label class="action_label" for="pack_circle">Draw:<br/>Round<br/>Package</label>
        </li>
        <li class="action">
            <input id="action_move" type="radio" name="tool">
            <label class="action_label" for="action_move">Action:<br/>Move<br/>Element</label>
        </li>
        <li class="action">
            <input id="action_delete" type="radio" name="tool">
            <label class="action_label" for="action_delete">Action:<br/>Delete<br/>Element</label>
        </li>
        <li class="action">
            <input id="action_edit" type="radio" name="tool">
            <label class="action_label" for="action_edit">Action:<br/>Edit<br/>Element</label>
        </li>
    </ul>
    </header>
    <section id="content">
    <div id="blueprint">No blueprint</div>
    </section>
    <footer>
    <ul id="history" class="actions_block">
        <li class="action" >
            <div class="action_label">Undo:<br/>Empty<br/>History</div>
        </li>
    </ul>
    </footer>

    @Html.Partial("_PopUpForm")
</body>
    @if (Html.IsReleaseBuild())
    {
    <!-- production libs block -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Production/underscore-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/json2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Production/backbone-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Production/jquery-1.7.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Production/raphael-min.js")"></script>
    <!-- production libs block end -->
    }
</html>
