@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/qunit.css")">
    <!-- development lib-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Development/jquery-1.7.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Development/underscore.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/json2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Development/backbone.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Development/raphael.js")"></script>
    <!-- tested libraries -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Editor/EditorApp.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Editor/Views/BlueprintView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Editor/Views//BorderView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Editor/Views/GridView.js")"></script>
    <!-- tests -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/Lib/Development/qunit.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Editor/Views/Tests/BlueprintViewTests.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Editor/Views/Tests/GridViewTests.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Editor/Views/Tests/BorderViewTests.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Editor/Views/Tests/ViewTests.js")"></script>

    <script>
        $(document).ready(function () {
            Editor.Views.Test.runTests();
        });
    </script>

</head>
<body>

<h1 id="qunit-header">QUnit</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture"></div>

<div id="test_workbench">
</div>

<div id="test_workbench2">
</div>

</body>
</html>